﻿@{
    UserSession.checkLogIn();
}
<!doctype html>
<html lang="en">
<head>
    <title>@Constant.APP_SHORT_NAME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/content/style.css">
    <link rel="stylesheet" href="~/content/colors/real_green.css">
    <link rel="stylesheet" href="~/content/bootstrap-datetimepicker.min.css">
    @*<link rel="stylesheet" href="~/content/bootstrap.min.css">*@
</head>
<body class="gray">
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/scripts/mmenu.min.js"></script>
    <script src="~/scripts/tippy.all.min.js"></script>
    <script src="~/scripts/simplebar.min.js"></script>
    <script src="~/scripts/bootstrap-slider.min.js"></script>
    <script src="~/scripts/bootstrap-select.min.js"></script>
    <script src="~/scripts/snackbar.js"></script>
    <script src="~/scripts/clipboard.min.js"></script>
    <script src="~/scripts/counterup.min.js"></script>
    <script src="~/scripts/magnific-popup.min.js"></script>
    <script src="~/scripts/slick.min.js"></script>
    <script src="~/scripts/custom.js"></script>
    <script src="~/scripts/freelance.js"></script>
    <script src="~/scripts/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/scripts/freelance.js"></script>*@
    <div id="wrapper">
        <header id="header-container" class="fullwidth dashboard-header not-sticky">
            <div id="header">
                <div class="container">
                    <div class="left-side">
                        <div id="logo">
                            <a href="index.html"><img src="~/images/logo.png" alt=""></a>
                        </div>
                        <nav id="navigation">
                            <ul id="responsive">
                                @{
                                    if ( UserSession.getAccountType() == AccountType.freelancer ) {
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="/job/search">Browse jobs</a></li>
                                        <li><a href="/project/search">Browse projects</a></li>
                                        <li><a href="/employer/search">Browse companies</a></li>
                                    } else if ( UserSession.getAccountType() == AccountType.employer ) {
                                        <li><a href="/job/create">Post a job</a></li>
                                        <li><a href="/project/create">Post a project</a></li>
                                        <li><a href="/freelancer/search">Browse freelancers</a></li>
                                    }
                                }
                            <li>
                                <div style="display:none" id="ajax_loader"><img id="loader_image" style="display:none" src="~/images/ajax-loader.gif" /></div>
                            </li>
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                    </div>
                    <div class="right-side">
                        <div class="header-widget hide-on-mobile">
                            <div class="header-notifications">
                                <div class="header-notifications-trigger">
                                    <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
                                </div>
                                <div class="header-notifications-dropdown">
                                    <div class="header-notifications-headline">
                                        <h4>Notifications</h4>
                                        <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                                            <i class="icon-feather-check-square"></i>
                                        </button>
                                    </div>
                                    <div class="header-notifications-content">
                                        <div class="header-notifications-scroll" data-simplebar>
                                            <ul>
                                                <li class="notifications-not-read">
                                                    <a href="dashboard-manage-candidates.html">
                                                        <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                        <span class="notification-text">
                                                            <strong>Michael Shannah</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-manage-bidders.html">
                                                        <span class="notification-icon"><i class=" icon-material-outline-gavel"></i></span>
                                                        <span class="notification-text">
                                                            <strong>Gilbert Allanis</strong> placed a bid on your <span class="color">iOS App Development</span> project
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-manage-jobs.html">
                                                        <span class="notification-icon"><i class="icon-material-outline-autorenew"></i></span>
                                                        <span class="notification-text">
                                                            Your job listing <span class="color">Full Stack PHP Developer</span> is expiring.
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="dashboard-manage-candidates.html">
                                                        <span class="notification-icon"><i class="icon-material-outline-group"></i></span>
                                                        <span class="notification-text">
                                                            <strong>Sindy Forrest</strong> applied for a job <span class="color">Full Stack Software Engineer</span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-notifications">
                                <div class="header-notifications-trigger">
                                    <a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
                                </div>
                                <div class="header-notifications-dropdown">
                                    <div class="header-notifications-headline">
                                        <h4>Messages</h4>
                                        <button class="mark-as-read ripple-effect-dark" title="Mark all as read" data-tippy-placement="left">
                                            <i class="icon-feather-check-square"></i>
                                        </button>
                                    </div>
                                    <div class="header-notifications-content">
                                        <div class="header-notifications-scroll" data-simplebar>
                                            <ul>
                                                <li class="notifications-not-read">
                                                    <a href="/messaging/read/1">
                                                        <span class="notification-avatar status-online"><img src="~/images/user-avatar-small-03.jpg" alt=""></span>
                                                        <div class="notification-text">
                                                            <strong>David Peterson</strong>
                                                            <p class="notification-msg-text">Thanks for reaching out. I'm quite busy right now on many...</p>
                                                            <span class="color">4 hours ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notifications-not-read">
                                                    <a href="/messaging/read/1">
                                                        <span class="notification-avatar status-offline"><img src="~/images/user-avatar-small-02.jpg" alt=""></span>
                                                        <div class="notification-text">
                                                            <strong>Sindy Forest</strong>
                                                            <p class="notification-msg-text">Hi Tom! Hate to break it to you, but I'm actually on vacation until...</p>
                                                            <span class="color">Yesterday</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notifications-not-read">
                                                    <a href="/messaging/read/1">
                                                        <span class="notification-avatar status-online"><img src="~/images/user-avatar-placeholder.png" alt=""></span>
                                                        <div class="notification-text">
                                                            <strong>Marcin Kowalski</strong>
                                                            <p class="notification-msg-text">I received payment. Thanks for cooperation!</p>
                                                            <span class="color">Yesterday</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="/messaging/" class="header-notifications-button ripple-effect button-sliding-icon">View All Messages<i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="header-widget">
                            <div class="header-notifications user-menu">
                                <div class="header-notifications-trigger">
                                    <a href="#"><div class="user-avatar status-offline"><img src="@UserClass.getProfPic( UserSession.getCurrentUserKey() )" alt=""></div></a>
                                </div>
                                <div class="header-notifications-dropdown">
                                    <div class="user-status">
                                        <div class="user-details">
                                            <div class="user-avatar status-offline"><img src="@UserClass.getProfPic( UserSession.getCurrentUserKey() )" alt=""></div>
                                            <div class="user-name">
                                                @UserSession.getUserFullName() <span>@Conv.toUpperFirst( UserSession.getAccountType().ToString() )</span>
                                            </div>
                                        </div>
                                        <div class="status-switch" id="snackbar-user-status">
                                            <label class="user-online">Online</label>
                                            <label class="user-invisible current-status">Invisible</label>
                                            <span class="status-indicator" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <ul class="user-menu-small-nav">
                                        <li><a href="/freelancer/edit"><i class="icon-material-outline-settings"></i> Settings</a></li>
                                        <li><a href="/logout"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <span class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        <div class="dashboard-container">
            <div class="dashboard-sidebar">
                <div class="dashboard-sidebar-inner" data-simplebar>
                    <div class="dashboard-nav-container">
                        <a href="#" class="dashboard-responsive-nav-trigger">
                            <span class="hamburger hamburger--collapse">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                            <span class="trigger-title">Tools Navigation</span>
                        </a>
                        <div class="dashboard-nav">
                            <div class="dashboard-nav-inner">
                                <ul data-submenu-title="MY STUFF">
                                    <li id="menu_messaging"><a href="/messaging/"><i class="icon-material-outline-question-answer"></i> Messages <span class="nav-tag">2</span></a></li>
                                    <li id="menu_bookmark_search"><a href="/bookmark/search/"><i class="icon-material-outline-star-border"></i> Bookmarks</a></li>
                                    <li id="menu_review_search"><a href="/review/search/"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
                                    <li id="menu_project_viewmy"><a href="/project/viewmy/"><i class="icon-material-outline-dashboard"></i>Projects <span class="nav-tag">2</span></a></li>
                                    @{
                                        if ( UserSession.getAccountType() == AccountType.freelancer ) {
                                            <li id="menu_freelancer_myactivebids"><a href="/freelancer/myactivebids/"><i class="icon-material-outline-dashboard"></i>Active Bids <span class="nav-tag">4</span></a></li>
                                        }
                                    }
                                </ul>
                                <ul data-submenu-title="ACCOUNT">
                                    @{
                                        if ( UserSession.getAccountType() == AccountType.freelancer ) {
                                            <li id="menu_profile_edit"><a href="/freelancer/edit/"><i class="icon-material-outline-settings"></i> Settings</a></li>
                                            <li id="menu_freelancer_detail"><a href="/freelancer/detail/1"><i class="icon-material-outline-settings"></i> My Profile</a></li>
                                        } else if ( UserSession.getAccountType() == AccountType.employer ) {
                                            <li id="menu_profile_edit"><a href="/employer/edit/"><i class="icon-material-outline-settings"></i> Settings</a></li>
                                            <li id="menu_freelancer_detail"><a href="/employer/detail/1"><i class="icon-material-outline-settings"></i> My Company Profile</a></li>
                                        }
                                    }
                                    <li id="menu_logout"><a href="/logout/"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-content-container" data-simplebar>
                <div class="dashboard-content-inner">
                    <div class="dashboard-headline">
                        <h3>@ViewBag.Title</h3>
                        <span class="margin-top-7">@Html.Raw( ViewBag.SubTitle ?? "" )</span>
                        <nav id="breadcrumbs" class="light-theme">
                            <ul>
                                <li><a href="@( ViewBag.BackLink ?? "home")">@(ViewBag.BackPage ?? "Home")</a></li>
                                <li>@ViewBag.Title</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row">
                        @RenderBody()
                    </div>
                    <div class="padding-top-40"></div>
                </div>
                <div class="dashboard-footer-spacer"></div>
                <div class="small-footer margin-top-15">
                    <div class="small-footer-copyrights">
                        © @DateTime.Now.Year <strong>@Constant.APP_SHORT_NAME</strong>. All Rights Reserved.
                    </div>
                    <ul class="footer-social-links">
                        <li>
                            <a href="#" title="Facebook" data-tippy-placement="top">
                                <i class="icon-brand-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Twitter" data-tippy-placement="top">
                                <i class="icon-brand-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Google Plus" data-tippy-placement="top">
                                <i class="icon-brand-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="LinkedIn" data-tippy-placement="top">
                                <i class="icon-brand-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
    <script>
    $('#snackbar-user-status label').click(function () {
            Snackbar.show({
                text: 'Your status has been changed!',
                pos: 'bottom-center',
                showAction: false,
                actionText: "Dismiss",
                duration: 3000,
                textColor: '#fff',
                backgroundColor: '#383838'
            });
        });</script>
</body>
</html>