﻿@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "New Project";
}
<div class="col-xl-12">
    <div class="dashboard-box margin-top-0">
        <div class="headline">
            <h3><i class="icon-feather-folder-plus"></i> Project Submission Form</h3>
        </div>
        <div class="content with-padding padding-bottom-10">
            <div class="row">
                <div class="col-xl-4">
                    <div class="submit-field">
                        <h5>Project Name</h5>
                        <input type="text" id="name" name="name" class="with-border" placeholder="e.g. build me a website">
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="submit-field">
                        <h5>Category</h5>
                        <select id="category_id" name="category_id" class="selectpicker with-border" data-size="7" title="Select Category">
                            @Html.Raw(Common.getJobCategoryOptions())
                        </select>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="submit-field">
                        <h5>Expiry date </h5>
                        <div class="input-with-icon">
                            <div id="autocomplete-container">
                                <input class="with-border" type="text" placeholder="Expiry date" id="expiry_date" name="expiry_date" value="@DateTime.Now.AddDays(7).ToString("dd/MM/yyyy HH:mm:ss")">
                            </div>
                            <script type="text/javascript">$(function () {
                                    $('#expiry_date').datetimepicker({ format: 'dd/mm/yyyy hh:ii:ss' });
                                });</script>
                            <i class="icon-material-outline-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>What is your estimated budget?</h5>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input-with-icon">
                                    <input class="with-border" type="text" placeholder="Minimum" id="min_budget" name="min_budget">
                                    <i class="currency">USD</i>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-with-icon">
                                    <input class="with-border" type="text" placeholder="Maximum" id="max_budget" name="max_budget">
                                    <i class="currency">USD</i>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-yes-no margin-top-0">
                            <div class="radio">
                                <input id="fixed_price_radio" name="radio" type="radio" checked>
                                <label for="fixed_price_radio"><span class="radio-label"></span> Fixed Price Project</label>
                            </div>
                            <div class="radio">
                                <input id="hourly_price_radio" name="radio" type="radio">
                                <label for="hourly_price_radio"><span class="radio-label"></span> Hourly Project</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="submit-field">
                        <h5>What skills are required? <i class="help-icon" data-tippy-placement="right" title="Up to 5 skills that best describe your project"></i></h5>
                        <div class="keywords-container">
                            <div class="keyword-input-container">
                                <input type="text" class="keyword-input with-border" placeholder="Add Skills" />
                                <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                            </div>
                            <div class="keywords-list" id="sel_skills"><!-- keywords go here --></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="submit-field">
                        <h5>Describe Your Project</h5>
                        <textarea cols="30" rows="5" class="with-border" id="description"  name="description"></textarea>
                        <div class="uploadButton margin-top-30">
                            <input class="uploadButton-input" type="file" accept="image/*, application/pdf" id="upload" multiple />
                            <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                            <span class="uploadButton-file-name">Images or documents that might be helpful in describing your project</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <a href="#" onclick="handleRequest( '@((int)RequestType.post_project)', '@("/project/create/")')" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Post a Task</a>
</div>