﻿@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Order Confirmation";
    // ViewBag.BackPage = "Blog Posts";
    // ViewBag.BackLink = "blog-posts";
}
<div class="col-md-12">

    <div class="order-confirmation-page">
        <div class="breathing-icon"><i class="icon-feather-check"></i></div>
        <h2 class="margin-top-30">Thank you for your order!</h2>
        <p>Your payment has been processed successfully.</p>
        <a href="/membership/invoice/" class="button ripple-effect-dark button-sliding-icon margin-top-30">View Invoice <i class="icon-material-outline-arrow-right-alt"></i></a>
    </div>

</div>