﻿<!doctype html>
<html lang="en">
<head>
    <title>ZimProWork</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/content/style.css">
    <link rel="stylesheet" href="~/content/colors/real_green.css">
</head>
<body>
    <div id="wrapper">
        <header id="header-container" class="fullwidth transparent">
            <div id="header">
                <div class="container">
                    <div class="left-side">
                        <div id="logo">
                            <a href="#"><img src="~/images/logo.png" alt=""></a>
                        </div>
                        <div style="display:none" id="ajax_loader"><img id="loader_image" style="display:none" src="~/images/ajax-loader.gif" /></div>
                    </div>
                    <div class="right-side">
                        <div class="header-widget">
                            <a href="#sign-in-dialog" class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>Log In / Register</span></a>
                        </div>
                        <span class="mmenu-trigger">
                            <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <div class="clearfix"></div>
        <div class="intro-banner padding-top-70" data-background-image="../images/home-background.jpg">
            <div class="container">
                <div class="row padding-bottom-70">
                    <div class="col-xl-8 col-md-8">
                        <div class="banner-headline" style="max-width: 85%;">
                            <h3>
                                <strong>Hire experts or be hired for any job, any time.</strong>
                                <br>
                                <span>Thousands of small businesses use <strong class="color">ZimProWork</strong> to turn their ideas into reality.</span>
                            </h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <ul class="intro-stats hide-under-992px">
                            <li>
                                <strong class="counter">1,586</strong>
                                <span>Jobs Posted</span>
                            </li>
                            <li>
                                <strong class="counter">3,543</strong>
                                <span>Tasks Posted</span>
                            </li>
                            <li>
                                <strong class="counter">1,232</strong>
                                <span>Freelancers</span>
                            </li>
                        </ul>
                        <div class="col-xl-4 col-md-4">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-headline centered margin-top-0 margin-bottom-5">
                            <h3>Looking for someone to work on your project?<br /><strong class="color">This is how it works</strong></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="icon-box with-line">
                            <div class="icon-box-circle" style="background-color:transparent">
                                <div class="icon-box-circle-inner">
                                    <i class="icon-line-awesome-lock"></i>
                                    <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                </div>
                            </div>
                            <h3>Create an Account</h3>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination going forward.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="icon-box with-line">
                            <div class="icon-box-circle" style="background-color:transparent">
                                <div class="icon-box-circle-inner">
                                    <i class="icon-line-awesome-legal"></i>
                                    <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                </div>
                            </div>
                            <h3>Post a Task</h3>
                            <p>Efficiently unleash cross-media information without. Quickly maximize return on investment.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="icon-box">
                            <div class="icon-box-circle" style="background-color:transparent">
                                <div class="icon-box-circle-inner">
                                    <i class=" icon-line-awesome-trophy"></i>
                                    <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                </div>
                            </div>
                            <h3>Choose an Expert</h3>
                            <p>Nanotechnology immersion along the information highway will close the loop on focusing solely.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-banner padding-top-5" data-background-image="../images/home-background.jpg">
            <div class="container">
                <div class="col-xl-4 col-md-4"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-headline centered margin-top-0 margin-bottom-5">
                            <h3>Looking for work? <strong class="color">This is how it works</strong></h3>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="icon-box with-line">
                            <div class="icon-box-circle" style="background-color:transparent">
                                <div class="icon-box-circle-inner">
                                    <i class="icon-line-awesome-lock"></i>
                                    <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                </div>
                            </div>
                            <h3>Create an Account</h3>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination going forward.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="icon-box with-line">
                            <div class="icon-box-circle" style="background-color:transparent">
                                <div class="icon-box-circle-inner">
                                    <i class="icon-line-awesome-legal"></i>
                                    <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                </div>
                            </div>
                            <h3>Update your profile & Resume</h3>
                            <p>Efficiently unleash cross-media information without. Quickly maximize return on investment.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4">
                        <div class="icon-box">
                            <div class="icon-box-circle" style="background-color:transparent">
                                <div class="icon-box-circle-inner">
                                    <i class=" icon-line-awesome-trophy"></i>
                                    <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                                </div>
                            </div>
                            <h3>Look for work</h3>
                            <p>Nanotechnology immersion along the information highway will close the loop on focusing solely.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section margin-top-65">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-headline centered margin-bottom-15">
                            <h3>Popular Job Categories</h3>
                        </div>
                        <div class="categories-container">
                            <a href="jobs-grid-layout-full-page.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-file-code-o"></i>
                                </div>
                                <div class="category-box-counter">612</div>
                                <div class="category-box-content">
                                    <h3>Web & Software Dev</h3>
                                    <p>Software Engineer, Web / Mobile Developer & More</p>
                                </div>
                            </a>
                            <a href="jobs-list-layout-full-page-map.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-cloud-upload"></i>
                                </div>
                                <div class="category-box-counter">113</div>
                                <div class="category-box-content">
                                    <h3>Data Science & Analitycs</h3>
                                    <p>Data Specialist / Scientist, Data Analyst & More</p>
                                </div>
                            </a>
                            <a href="jobs-list-layout-full-page-map.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-suitcase"></i>
                                </div>
                                <div class="category-box-counter">186</div>
                                <div class="category-box-content">
                                    <h3>Accounting & Consulting</h3>
                                    <p>Auditor, Accountant, Fnancial Analyst & More</p>
                                </div>
                            </a>
                            <a href="jobs-list-layout-1.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-pencil"></i>
                                </div>
                                <div class="category-box-counter">298</div>
                                <div class="category-box-content">
                                    <h3>Writing & Translations</h3>
                                    <p>Copywriter, Creative Writer, Translator & More</p>
                                </div>
                            </a>
                            <a href="jobs-list-layout-2.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-pie-chart"></i>
                                </div>
                                <div class="category-box-counter">549</div>
                                <div class="category-box-content">
                                    <h3>Sales & Marketing</h3>
                                    <p>Brand Manager, Marketing Coordinator & More</p>
                                </div>
                            </a>
                            <a href="jobs-list-layout-1.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-image"></i>
                                </div>
                                <div class="category-box-counter">873</div>
                                <div class="category-box-content">
                                    <h3>Graphics & Design</h3>
                                    <p>Creative Director, Web Designer & More</p>
                                </div>
                            </a>
                            <a href="jobs-list-layout-2.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-bullhorn"></i>
                                </div>
                                <div class="category-box-counter">125</div>
                                <div class="category-box-content">
                                    <h3>Digital Marketing</h3>
                                    <p>Darketing Analyst, Social Profile Admin & More</p>
                                </div>
                            </a>
                            <a href="jobs-grid-layout-full-page.html" class="category-box">
                                <div class="category-box-icon">
                                    <i class="icon-line-awesome-graduation-cap"></i>
                                </div>
                                <div class="category-box-counter">445</div>
                                <div class="category-box-content">
                                    <h3>Education & Training</h3>
                                    <p>Advisor, Coach, Education Coordinator & More</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-headline margin-top-0 margin-bottom-35">
                            <h3>Featured Jobs</h3>
                            <a href="jobs-list-layout-full-page-map.html" class="headline-link">Browse All Jobs</a>
                        </div>
                        <div class="listings-container compact-list-layout margin-top-35">
                            <a href="single-job-page.html" class="job-listing with-apply-button">
                                <div class="job-listing-details">
                                    <div class="job-listing-company-logo">
                                        <img src="~/images/company-logo-01.png" alt="">
                                    </div>
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Bilingual Event Support Specialist</h3>
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Hexagon <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                                <li><i class="icon-material-outline-location-on"></i> San Francissco</li>
                                                <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="list-apply-button ripple-effect">Apply Now</span>
                                </div>
                            </a>
                            <a href="single-job-page.html" class="job-listing with-apply-button">
                                <div class="job-listing-details">
                                    <div class="job-listing-company-logo">
                                        <img src="~/images/company-logo-05.png" alt="">
                                    </div>
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Competition Law Officer</h3>
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Laxo</li>
                                                <li><i class="icon-material-outline-location-on"></i> San Francissco</li>
                                                <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="list-apply-button ripple-effect">Apply Now</span>
                                </div>
                            </a>
                            <a href="single-job-page.html" class="job-listing with-apply-button">
                                <div class="job-listing-details">
                                    <div class="job-listing-company-logo">
                                        <img src="~/images/company-logo-02.png" alt="">
                                    </div>
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Barista and Cashier</h3>
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Coffee</li>
                                                <li><i class="icon-material-outline-location-on"></i> San Francissco</li>
                                                <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="list-apply-button ripple-effect">Apply Now</span>
                                </div>
                            </a>
                            <a href="single-job-page.html" class="job-listing with-apply-button">
                                <div class="job-listing-details">

                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="~/images/company-logo-03.png" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">Restaurant General Manager</h3>

                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> King <div class="verified-badge" title="Verified Employer" data-tippy-placement="top"></div></li>
                                                <li><i class="icon-material-outline-location-on"></i> San Francissco</li>
                                                <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Apply Button -->
                                    <span class="list-apply-button ripple-effect">Apply Now</span>
                                </div>
                            </a>

                            <!-- Job Listing -->
                            <a href="single-job-page.html" class="job-listing with-apply-button">

                                <!-- Job Listing Details -->
                                <div class="job-listing-details">

                                    <!-- Logo -->
                                    <div class="job-listing-company-logo">
                                        <img src="~/images/company-logo-05.png" alt="">
                                    </div>

                                    <!-- Details -->
                                    <div class="job-listing-description">
                                        <h3 class="job-listing-title">International Marketing Coordinator</h3>

                                        <!-- Job Listing Footer -->
                                        <div class="job-listing-footer">
                                            <ul>
                                                <li><i class="icon-material-outline-business"></i> Skyist</li>
                                                <li><i class="icon-material-outline-location-on"></i> San Francissco</li>
                                                <li><i class="icon-material-outline-business-center"></i> Full Time</li>
                                                <li><i class="icon-material-outline-access-time"></i> 2 days ago</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- Apply Button -->
                                    <span class="list-apply-button ripple-effect">Apply Now</span>
                                </div>
                            </a>

                        </div>
                        <!-- Jobs Container / End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Jobs / End -->
        <!-- Features Cities -->
        <div class="section margin-top-65 margin-bottom-65">
            <div class="container">
                <div class="row">

                    <!-- Section Headline -->
                    <div class="col-xl-12">
                        <div class="section-headline centered margin-top-0 margin-bottom-45">
                            <h3>Featured Cities</h3>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-1.html" class="photo-box" data-background-image="../images/featured-city-01.jpg">
                            <div class="photo-box-content">
                                <h3>San Francisco</h3>
                                <span>376 Jobs</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-full-page-map.html" class="photo-box" data-background-image="../images/featured-city-02.jpg">
                            <div class="photo-box-content">
                                <h3>New York</h3>
                                <span>645 Jobs</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-grid-layout-full-page.html" class="photo-box" data-background-image="../images/featured-city-03.jpg">
                            <div class="photo-box-content">
                                <h3>Los Angeles</h3>
                                <span>832 Jobs</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <!-- Photo Box -->
                        <a href="jobs-list-layout-2.html" class="photo-box" data-background-image="../images/featured-city-04.jpg">
                            <div class="photo-box-content">
                                <h3>Miami</h3>
                                <span>513 Jobs</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- Features Cities / End -->
        <!-- Highest Rated Freelancers -->
        <div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
            <div class="container">
                <div class="row">

                    <div class="col-xl-12">
                        <!-- Section Headline -->
                        <div class="section-headline margin-top-0 margin-bottom-25">
                            <h3>Highest Rated Freelancers</h3>
                            <a href="freelancers-grid-layout.html" class="headline-link">Browse All Freelancers</a>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="default-slick-carousel freelancers-container freelancers-grid-layout">

                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/images/user-avatar-big-01.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="single-freelancer-profile.html">Tom Smith <img class="flag" src="~/images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
                                            <span>UI/UX Designer</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong><i class="icon-material-outline-location-on"></i> London</strong></li>
                                            <li>Rate <strong>$60 / hr</strong></li>
                                            <li>Job Success <strong>95%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">

                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/images/user-avatar-big-02.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="#">David Peterson <img class="flag" src="~/images/flags/de.svg" alt="" title="Germany" data-tippy-placement="top"></a></h4>
                                            <span>iOS Expert + Node Dev</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong><i class="icon-material-outline-location-on"></i> Berlin</strong></li>
                                            <li>Rate <strong>$40 / hr</strong></li>
                                            <li>Job Success <strong>88%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">
                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <a href="single-freelancer-profile.html"><img src="~/images/user-avatar-placeholder.png" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="#">Marcin Kowalski <img class="flag" src="~/images/flags/pl.svg" alt="" title="Poland" data-tippy-placement="top"></a></h4>
                                            <span>Front-End Developer</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="4.9"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong><i class="icon-material-outline-location-on"></i> Warsaw</strong></li>
                                            <li>Rate <strong>$50 / hr</strong></li>
                                            <li>Job Success <strong>100%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">
                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <div class="verified-badge"></div>
                                            <a href="single-freelancer-profile.html"><img src="~/images/user-avatar-big-03.jpg" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="#">Sindy Forest <img class="flag" src="~/images/flags/au.svg" alt="" title="Australia" data-tippy-placement="top"></a></h4>
                                            <span>Magento Certified Developer</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong><i class="icon-material-outline-location-on"></i> Brisbane</strong></li>
                                            <li>Rate <strong>$70 / hr</strong></li>
                                            <li>Job Success <strong>100%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">
                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <a href="single-freelancer-profile.html"><img src="~/images/user-avatar-placeholder.png" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="#">Sebastiano Piccio <img class="flag" src="~/images/flags/it.svg" alt="" title="Italy" data-tippy-placement="top"></a></h4>
                                            <span>Laravel Dev</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="4.5"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong><i class="icon-material-outline-location-on"></i> Milan</strong></li>
                                            <li>Rate <strong>$80 / hr</strong></li>
                                            <li>Job Success <strong>89%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->
                            <!--Freelancer -->
                            <div class="freelancer">

                                <!-- Overview -->
                                <div class="freelancer-overview">
                                    <div class="freelancer-overview-inner">
                                        <!-- Bookmark Icon -->
                                        <span class="bookmark-icon"></span>

                                        <!-- Avatar -->
                                        <div class="freelancer-avatar">
                                            <a href="single-freelancer-profile.html"><img src="~/images/user-avatar-placeholder.png" alt=""></a>
                                        </div>

                                        <!-- Name -->
                                        <div class="freelancer-name">
                                            <h4><a href="#">Gabriel Lagueux <img class="flag" src="~/images/flags/fr.svg" alt="" title="France" data-tippy-placement="top"></a></h4>
                                            <span>WordPress Expert</span>
                                        </div>

                                        <!-- Rating -->
                                        <div class="freelancer-rating">
                                            <div class="star-rating" data-rating="5.0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Details -->
                                <div class="freelancer-details">
                                    <div class="freelancer-details-list">
                                        <ul>
                                            <li>Location <strong><i class="icon-material-outline-location-on"></i> Paris</strong></li>
                                            <li>Rate <strong>$50 / hr</strong></li>
                                            <li>Job Success <strong>100%</strong></li>
                                        </ul>
                                    </div>
                                    <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                </div>
                            </div>
                            <!-- Freelancer / End -->


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Highest Rated Freelancers / End-->
        <!-- Membership Plans -->
        <div class="section padding-top-60 padding-bottom-75">
            <div class="container">
                <div class="row">

                    <div class="col-xl-12">
                        <!-- Section Headline -->
                        <div class="section-headline centered margin-top-0 margin-bottom-35">
                            <h3>Membership Plans</h3>
                        </div>
                    </div>


                    <div class="col-xl-12">

                        <!-- Billing Cycle  -->
                        <div class="billing-cycle-radios margin-bottom-70">
                            <div class="radio billed-monthly-radio">
                                <input id="radio-5" name="radio-payment-type" type="radio" checked>
                                <label for="radio-5"><span class="radio-label"></span> Billed Monthly</label>
                            </div>

                            <div class="radio billed-yearly-radio">
                                <input id="radio-6" name="radio-payment-type" type="radio">
                                <label for="radio-6"><span class="radio-label"></span> Billed Yearly <span class="small-label">Save 10%</span></label>
                            </div>
                        </div>

                        <!-- Pricing Plans Container -->
                        <div class="pricing-plans-container">

                            <!-- Plan -->
                            <div class="pricing-plan">
                                <h3>Basic Plan</h3>
                                <p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
                                <div class="pricing-plan-label billed-monthly-label"><strong>$19</strong>/ monthly</div>
                                <div class="pricing-plan-label billed-yearly-label"><strong>$205</strong>/ yearly</div>
                                <div class="pricing-plan-features">
                                    <strong>Features of Basic Plan</strong>
                                    <ul>
                                        <li>1 Listing</li>
                                        <li>30 Days Visibility</li>
                                        <li>Highlighted in Search Results</li>
                                    </ul>
                                </div>
                                <a href="/membership/checkout/1" class="button full-width margin-top-20">Buy Now</a>
                            </div>

                            <!-- Plan -->
                            <div class="pricing-plan recommended">
                                <div class="recommended-badge">Recommended</div>
                                <h3>Standard Plan</h3>
                                <p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
                                <div class="pricing-plan-label billed-monthly-label"><strong>$49</strong>/ monthly</div>
                                <div class="pricing-plan-label billed-yearly-label"><strong>$529</strong>/ yearly</div>
                                <div class="pricing-plan-features">
                                    <strong>Features of Standard Plan</strong>
                                    <ul>
                                        <li>5 Listings</li>
                                        <li>60 Days Visibility</li>
                                        <li>Highlighted in Search Results</li>
                                    </ul>
                                </div>
                                <a href="/membership/checkout/1" class="button full-width margin-top-20">Buy Now</a>
                            </div>

                            <!-- Plan -->
                            <div class="pricing-plan">
                                <h3>Extended Plan</h3>
                                <p class="margin-top-10">One time fee for one listing or task highlighted in search results.</p>
                                <div class="pricing-plan-label billed-monthly-label"><strong>$99</strong>/ monthly</div>
                                <div class="pricing-plan-label billed-yearly-label"><strong>$1069</strong>/ yearly</div>
                                <div class="pricing-plan-features">
                                    <strong>Features of Extended Plan</strong>
                                    <ul>
                                        <li>Unlimited Listings Listing</li>
                                        <li>90 Days Visibility</li>
                                        <li>Highlighted in Search Results</li>
                                    </ul>
                                </div>
                                <a href="/membership/checkout/1" class="button full-width margin-top-20">Buy Now</a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Membership Plans / End-->
        <!-- Footer
        ================================================== -->
        <div id="footer">

            <!-- Footer Top Section -->
            <div class="footer-top-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">

                            <!-- Footer Rows Container -->
                            <div class="footer-rows-container">

                                <!-- Left Side -->
                                <div class="footer-rows-left">
                                    <div class="footer-row">
                                        <div class="footer-row-inner footer-logo">
                                            <img src="~/images/logo2.png" alt="">
                                        </div>
                                    </div>
                                </div>

                                <!-- Right Side -->
                                <div class="footer-rows-right">

                                    <!-- Social Icons -->
                                    <div class="footer-row">
                                        <div class="footer-row-inner">
                                            <ul class="footer-social-links">
                                                <li>
                                                    <a href="#" title="Facebook" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Twitter" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Google Plus" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-google-plus-g"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" title="LinkedIn" data-tippy-placement="bottom" data-tippy-theme="light">
                                                        <i class="icon-brand-linkedin-in"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-middle-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>For Candidates</h3>
                                <ul>
                                    <li><a href="#"><span>Browse Jobs</span></a></li>
                                    <li><a href="#"><span>Add Resume</span></a></li>
                                    <li><a href="#"><span>Job Alerts</span></a></li>
                                    <li><a href="#"><span>My Bookmarks</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>For Employers</h3>
                                <ul>
                                    <li><a href="#"><span>Browse Candidates</span></a></li>
                                    <li><a href="#"><span>Post a Job</span></a></li>
                                    <li><a href="#"><span>Post a Task</span></a></li>
                                    <li><a href="#"><span>Plans & Pricing</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>Helpful Links</h3>
                                <ul>
                                    <li><a href="#"><span>Contact</span></a></li>
                                    <li><a href="#"><span>Privacy Policy</span></a></li>
                                    <li><a href="#"><span>Terms of Use</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="footer-links">
                                <h3>Account</h3>
                                <ul>
                                    <li><a href="#"><span>Log In</span></a></li>
                                    <li><a href="#"><span>My Account</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
                            <p>Weekly breaking news, analysis and cutting edge advices on job searching.</p>
                            <form action="#" method="get" class="newsletter">
                                <input type="text" name="fname" placeholder="Enter your email address">
                                <button type="submit"><i class="icon-feather-arrow-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            © 2019 <strong>ZimProWork</strong>. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">
            <div class="sign-in-form">
                <ul class="popup-tabs-nav">
                    <li><a href="#login" id="login_tab_link">Log In</a></li>
                    <li><a href="#register">Register</a></li>
                </ul>
                <div class="popup-tabs-container">
                    <div class="popup-tab-content" id="login">
                        <div class="welcome-text">
                            <h3>We're glad to see you again!</h3>
                            <span>Don't have an account? <a href="#" class="register-tab">Sign Up!</a></span>
                        </div>
                        <form method="post" id="login-form">
                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="email" class="input-text with-border" name="email_login" id="email_login" placeholder="Email Address" required />
                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                <input type="password" class="input-text with-border" name="password_login" id="password_login" placeholder="Password" required />
                            </div>
                            <a href="#" class="forgot-password">Forgot Password?</a>
                        </form>
                        <!-- Button -->
                        <button onclick="handleRequest( '@((int)RequestType.login)', '@("/login/")')" class="button full-width button-sliding-icon ripple-effect" type="button" form="login-form">Log In <i class="icon-material-outline-arrow-right-alt"></i></button>

                        <!-- Social Login -->
                        <div class="social-login-separator"><span>or</span></div>
                        <div class="social-login-buttons">
                            <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Log In via Facebook</button>
                            <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Log In via Google+</button>
                        </div>

                    </div>

                    <!-- Register -->
                    <div class="popup-tab-content" id="register">

                        <!-- Welcome Text -->
                        <div class="welcome-text">
                            <h3>Let's create your account!</h3>
                            <span>Already have an account? <a href="#login" class="login-tab">Log In!</a></span>
                        </div>

                        <!-- Account Type -->
                        <div class="account-type">
                            <div>
                                <input type="radio" name="account-type-radio" id="freelancer_radio" class="account-type-radio" checked />
                                <label for="freelancer_radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
                            </div>

                            <div>
                                <input type="radio" name="account-type-radio" id="employer_radio" class="account-type-radio" />
                                <label for="employer_radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                            </div>
                        </div>

                        <!-- Form -->
                        <form method="post" id="register-account-form">
                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="text" class="input-text with-border" name="name" id="name" placeholder="First name" required />
                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="text" class="input-text with-border" name="surname" id="surname" placeholder="Surname" required />
                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-baseline-mail-outline"></i>
                                <input type="text" class="input-text with-border" name="emailr" id="email" placeholder="Email Address" required />
                            </div>

                            <div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
                                <i class="icon-material-outline-lock"></i>
                                <input type="password" class="input-text with-border" name="password" id="password" placeholder="Password" required />
                            </div>
                            <div class="input-with-icon-left">
                                <i class="icon-material-outline-lock"></i>
                                <input type="password" class="input-text with-border" name="password_repeat" id="password_repeat" placeholder="Repeat Password" required />
                            </div>
                        </form>

                        <!-- Button -->
                        <button onclick="handleRequest( '@((int)RequestType.register_user)', '@("/register/create/")');" class="margin-top-10 button full-width button-sliding-icon ripple-effect" type="button" form="register-account-form">Register <i class="icon-material-outline-arrow-right-alt"></i></button>

                        <!-- Social Login -->
                        <div class="social-login-separator"><span>or</span></div>
                        <div class="social-login-buttons">
                            <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
                            <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Sign In Popup / End -->
        <!-- Scripts
        ================================================== -->
        <script src="~/scripts/jquery-3.4.1.min.js"></script>
        <script src="~/scripts/jquery-migrate-3.0.0.min.js"></script>
        <script src="~/scripts/mmenu.min.js"></script>
        <script src="~/scripts/tippy.all.min.js"></script>
        <script src="~/scripts/simplebar.min.js"></script>
        <script src="~/scripts/bootstrap-slider.min.js"></script>
        <script src="~/scripts/bootstrap-select.min.js"></script>
        <script src="~/scripts/snackbar.js"></script>
        <script src="~/scripts/clipboard.min.js"></script>
        <script src="~/scripts/counterup.min.js"></script>
        <script src="~/scripts/magnific-popup.min.js"></script>
        <script src="~/scripts/slick.min.js"></script>
        <script src="~/scripts/custom.js"></script>
        <script src="~/scripts/freelance.js"></script>

        <!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
        <script>
            // Snackbar for user status switcher
            $('#snackbar-user-status label').click(function () {
                Snackbar.show({
                    text: 'Your status has been changed!',
                    pos: 'bottom-center',
                    showAction: false,
                    actionText: "Dismiss",
                    duration: 3000,
                    textColor: '#fff',
                    backgroundColor: '#383838'
                });
            });</script>


        <!-- Google Autocomplete -->
        <script>
            function initAutocomplete() {
                var options = {
                    types: ['(cities)'],
                    // componentRestrictions: {country: "us"}
                };

                var input = document.getElementById('autocomplete-input');
                var autocomplete = new google.maps.places.Autocomplete(input, options);
            }

            // Autocomplete adjustment for homepage
            if ($('.intro-banner-search-form')[0]) {
                setTimeout(function () {
                    $(".pac-container").prependTo(".intro-search-field.with-autocomplete");
                }, 300);
            }</script>

        <!-- Google API & Maps -->
        <!-- Geting an API Key: https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>
    </div>
</body>
</html>