﻿@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "500 Internal Error";
}
<div class="col-xl-12">
    <section id="not-found" class="center margin-top-50 margin-bottom-25">
        <h2>500 <i class="icon-line-awesome-exclamation-circle"></i></h2>
        <p>We're sorry, but we ran into a little problem here. No action required from you, we've already been notified about this. If we require more information, we will get in touch with you. If you keep getting this message, you have the right to scream at us :-/</p>
    </section>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
        </div>
    </div>
</div>