﻿@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "404 Not Found";
}
<div class="col-xl-12">
    <section id="not-found" class="center margin-top-50 margin-bottom-25">
        <h2>404 <i class="icon-line-awesome-question-circle"></i></h2>
        <p>We're sorry, but the page you were looking for doesn't exist</p>
    </section>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
        </div>
    </div>
</div>