﻿@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Blog Post";
    ViewBag.BackPage = "Blog Posts";
    ViewBag.BackLink = "blog-posts";
}
<div class="col-xl-8 col-lg-8">
    <!-- Blog Post -->
    <div class="blog-post single-post">

        <!-- Blog Post Thumbnail -->
        <div class="blog-post-thumbnail">
            <div class="blog-post-thumbnail-inner">
                <span class="blog-item-tag">Tips</span>
                <img src="images/blog-04.jpg" alt="">
            </div>
        </div>

        <!-- Blog Post Content -->
        <div class="blog-post-content">
            <h3 class="margin-bottom-10">5 Myths That Prevent Job Seekers from Overcoming Failure</h3>

            <div class="blog-post-info-list margin-bottom-20">
                <a href="#" class="blog-post-info">22 July 2019</a>
                <a href="#" class="blog-post-info">5 Comments</a>
            </div>

            <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue dapibus facilisis. Vivamus tincidunt orci est, in vehicula nisi eleifend ut. Vestibulum sagittis varius orci vitae.</p>

            <blockquote class="margin-top-20 margin-bottom-20">
                Mauris aliquet ultricies ante, non faucibus ante gravida sed. Sed ultrices pellentesque purus, vulputate volutpat ipsum hendrerit sed neque sed sapien rutrum.
            </blockquote>

            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida. Cras suscipit, quam vitae adipiscing faucibus, risus nibh laoreet odio, a porttitor metus eros ut enim. Morbi augue velit, tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum.</p>

            <p>Phasellus enim magna, varius et commodo ut, ultricies vitae velit. Ut nulla tellus, eleifend euismod pellentesque vel, sagittis vel justo. In libero urna, venenatis sit amet ornare non, suscipit nec risus. Sed consequat justo non mauris pretium at tempor justo sodales. Quisque tincidunt laoreet malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer vitae ante enim. Fusce sed elit est. Suspendisse sit amet mauris in quam pretium faucibus et aliquam odio. </p>

            <!-- Share Buttons -->
            <div class="share-buttons margin-top-25">
                <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
                <div class="share-buttons-content">
                    <span>Interesting? <strong>Share It!</strong></span>
                    <ul class="share-buttons-icons">
                        <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                        <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                        <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                        <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- Blog Post Content / End -->
    <!-- Blog Nav -->
    <ul id="posts-nav" class="margin-top-0 margin-bottom-40">
        <li class="next-post">
            <a href="#">
                <span>Next Post</span>
                <strong>16 Ridiculously Easy Ways to Find & Keep a Remote Job</strong>
            </a>
        </li>
        <li class="prev-post">
            <a href="#">
                <span>Previous Post</span>
                <strong>11 Tips to Help You Get New Clients Through Cold Calling</strong>
            </a>
        </li>
    </ul>

    <!-- Related Posts -->
    <div class="row">

        <!-- Headline -->
        <div class="col-xl-12">
            <h3 class="margin-top-40 margin-bottom-35">Related Posts</h3>
        </div>

        <!-- Blog Post Item -->
        <div class="col-xl-6">
            <a href="pages-blog-post.html" class="blog-compact-item-container">
                <div class="blog-compact-item">
                    <img src="images/blog-02a.jpg" alt="">
                    <span class="blog-item-tag">Recruiting</span>
                    <div class="blog-compact-item-content">
                        <ul class="blog-post-tags">
                            <li>29 June 2019</li>
                        </ul>
                        <h3>How to "Woo" a Recruiter and Land Your Dream Job</h3>
                        <p>Appropriately empower dynamic leadership skills after business portals. Globally myocardinate interactive.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Blog post Item / End -->
        <!-- Blog Post Item -->
        <div class="col-xl-6">
            <a href="pages-blog-post.html" class="blog-compact-item-container">
                <div class="blog-compact-item">
                    <img src="images/blog-03a.jpg" alt="">
                    <span class="blog-item-tag">Marketing</span>
                    <div class="blog-compact-item-content">
                        <ul class="blog-post-tags">
                            <li>10 June 2019</li>
                        </ul>
                        <h3>11 Tips to Help You Get New Clients Through Cold Calling</h3>
                        <p>Compellingly embrace empowered e-business after user friendly intellectual capital. Interactively front-end.</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- Blog post Item / End -->
    </div>
    <!-- Related Posts / End -->
    <!-- Comments -->
    <div class="row">
        <div class="col-xl-12">
            <section class="comments">
                <h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">(5)</span></h3>

                <ul>
                    <li>
                        <div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                Kathy Brown<span class="date">12th, June 2019</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
                        </div>

                        <ul>
                            <li>
                                <div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
                                <div class="comment-content">
                                    <div class="arrow-comment"></div>
                                    <div class="comment-by">
                                        Tom Smith<span class="date">12th, June 2019</span>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                    <p>Rrhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque.</p>
                                </div>
                            </li>
                            <li>
                                <div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
                                <div class="comment-content">
                                    <div class="arrow-comment"></div>
                                    <div class="comment-by">
                                        Kathy Brown<span class="date">12th, June 2019</span>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                    </div>
                                    <p>Nam posuere tristique sem, eu ultricies tortor.</p>
                                </div>

                                <ul>
                                    <li>
                                        <div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""></div>
                                        <div class="comment-content">
                                            <div class="arrow-comment"></div>
                                            <div class="comment-by">
                                                John Doe<span class="date">12th, June 2019</span>
                                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                                            </div>
                                            <p>Great template!</p>
                                        </div>
                                    </li>
                                </ul>

                            </li>
                        </ul>

                    </li>

                    <li>
                        <div class="avatar"><img src="images/user-avatar-placeholder.png" alt=""> </div>
                        <div class="comment-content">
                            <div class="arrow-comment"></div>
                            <div class="comment-by">
                                John Doe<span class="date">15th, May 2015</span>
                                <a href="#" class="reply"><i class="fa fa-reply"></i> Reply</a>
                            </div>
                            <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                        </div>

                    </li>
                </ul>

            </section>
        </div>
    </div>
    <!-- Comments / End -->
    <!-- Leava a Comment -->
    <div class="row">
        <div class="col-xl-12">

            <h3 class="margin-top-35 margin-bottom-30">Add Comment</h3>

            <!-- Form -->
            <form method="post" id="add-comment">

                <div class="row">
                    <div class="col-xl-6">
                        <div class="input-with-icon-left no-border">
                            <i class="icon-material-outline-account-circle"></i>
                            <input type="text" class="input-text" name="commentname" id="namecomment" placeholder="Name" required />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="input-with-icon-left no-border">
                            <i class="icon-material-baseline-mail-outline"></i>
                            <input type="text" class="input-text" name="emailaddress" id="emailaddress" placeholder="Email Address" required />
                        </div>
                    </div>
                </div>

                <textarea name="comment-content" cols="30" rows="5" placeholder="Comment"></textarea>
            </form>

            <!-- Button -->
            <button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit" form="add-comment">Add Comment <i class="icon-material-outline-arrow-right-alt"></i></button>

        </div>
    </div>
    <!-- Leava a Comment / End -->

</div>
<div class="col-xl-4 col-lg-4 content-left-offset">
    <div class="sidebar-container">

        <!-- Location -->
        <div class="sidebar-widget margin-bottom-40">
            <div class="input-with-icon">
                <input id="autocomplete-input" type="text" placeholder="Search">
                <i class="icon-material-outline-search"></i>
            </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">

            <h3>Trending Posts</h3>
            <ul class="widget-tabs">

                <!-- Post #1 -->
                <li>
                    <a href="#" class="widget-content active">
                        <img src="images/blog-02a.jpg" alt="">
                        <div class="widget-text">
                            <h5>How to "Woo" a Recruiter and Land Your Dream Job</h5>
                            <span>29 June 2019</span>
                        </div>
                    </a>
                </li>

                <!-- Post #2 -->
                <li>
                    <a href="#" class="widget-content">
                        <img src="images/blog-07a.jpg" alt="">
                        <div class="widget-text">
                            <h5>What It Really Takes to Make $100k Before You Turn 30</h5>
                            <span>3 June 2019</span>
                        </div>
                    </a>
                </li>
                <!-- Post #3 -->
                <li>
                    <a href="#" class="widget-content">
                        <img src="images/blog-04a.jpg" alt="">
                        <div class="widget-text">
                            <h5>5 Myths That Prevent Job Seekers from Overcoming Failure</h5>
                            <span>5 June 2019</span>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Widget / End-->
        <!-- Widget -->
        <div class="sidebar-widget">
            <h3>Social Profiles</h3>
            <div class="freelancer-socials margin-top-25">
                <ul>
                    <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
                    <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                    <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
                    <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">
            <h3>Tags</h3>
            <div class="task-tags">
                <a href="#"><span>employer</span></a>
                <a href="#"><span>recruiting</span></a>
                <a href="#"><span>work</span></a>
                <a href="#"><span>salary</span></a>
                <a href="#"><span>tips</span></a>
                <a href="#"><span>income</span></a>
                <a href="#"><span>application</span></a>
            </div>
        </div>
    </div>
</div>
