﻿@using System.Web
@using Freelance.Models
@using System.Data
@model Freelance.Models.Freelancer

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Settings - Freelancer Profile";
    DataRow _Record = Model.getDataRow();
}
<div class="col-xl-12">
    <div class="dashboard-box margin-top-0">
        <div class="headline">
            <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
        </div>
        <div class="content with-padding padding-bottom-0">
            <div class="row">
                <div class="col-auto">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                        <img class="profile-pic" src="@UserClass.getProfPic(_Record["user_uuid"].ToString() )" alt="" />
                        <div class="upload-button"></div>
                        <input class="file-upload" type="file" accept="image/*"  id="prof_pic" onchange="uploadOnSelect( '@((int)FileType.user_prof_pic)', 'prof_pic', '@_Record["user_uuid"]');"/>
                    </div>
                </div>
                <div class="col">
                    <div class="row">

                        <div class="col-xl-6">
                            <div class="submit-field">
                                <h5>First Name</h5>
                                <input type="text" class="with-border" value="@_Record["name"]" id="name" name="name">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="submit-field">
                                <h5>Last Name</h5>
                                <input type="text" class="with-border" value="@_Record["surname"]" id="surname" name="surname">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="submit-field">
                                <h5>Account Type</h5>
                                <div class="account-type">
                                    <div>
                                        <input type="radio" name="account-type-radio" id="freelancer_radio" class="account-type-radio" @((int)_Record["enum_account_type_id"] == (int)AccountType.freelancer ? "checked" : "") />
                                        <label for="freelancer_radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
                                    </div>

                                    <div>
                                        <input type="radio" name="account-type-radio" id="employer_radio" class="account-type-radio" @((int)_Record["enum_account_type_id"] == (int)AccountType.employer ? "checked" : "") />
                                        <label for="employer_radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="submit-field">
                                <h5>Email</h5>
                                <input type="text" class="with-border" value="@_Record["email"]"  id="email" name="email">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div class="dashboard-box">
        <div class="headline">
            <h3><i class="icon-material-outline-face"></i> My Profile</h3>
        </div>
        <div class="content">
            <ul class="fields-ul">
                <li>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <div class="bidding-widget">
                                    <span class="bidding-detail">Set your <strong>minimal hourly rate</strong></span>
                                    <div class="bidding-value margin-bottom-10">$<span id="biddingVal">@_Record["min_hourly_rate"]</span></div>
                                    <input class="bidding-slider"  id="min_hourly_rate" name="min_hourly_rate" type="text" value="@_Record["min_hourly_rate"]" data-slider-handle="custom" data-slider-currency="$" data-slider-min="5" data-slider-max="250" data-slider-value="@_Record["min_hourly_rate"]" data-slider-step="1" data-slider-tooltip="hide" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Skills <i class="help-icon" data-tippy-placement="right" title="Add up to 10 skills"></i></h5>
                                <div class="keywords-container">
                                    <div class="keyword-input-container">
                                        <input type="text" class="keyword-input with-border" placeholder="e.g. Angular, Laravel" />
                                        <input type="hidden" id="keyword_value" value="@_Record["skill_tags"]" />
                                        <button class="keyword-input-button ripple-effect"><i class="icon-material-outline-add"></i></button>
                                    </div>
                                    <div class="keywords-list">
                                    </div>
                                    <script>
                                    $(function(){
                                        initKeyWords('@_Record["skill_tags"]');
                                    })</script>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="submit-field">
                                <h5>Attachments</h5>
                                <div class="attachments-container margin-top-0 margin-bottom-0">
                                    @{
                                        DataSet _Ds = FileUpload.getAllLinkedFile( _Record["uuid"].ToString() );
                                        foreach ( DataRow _Dr in _Ds.Tables[0].Rows ) {
                                            <div class="attachment-box ripple-effect">
                                                <span>@Path.GetFileNameWithoutExtension(_Dr["given_name"].ToString())</span>
                                                <i>@Path.GetExtension(_Dr["given_name"].ToString()).ToUpper().Replace(".", "")</i>
                                                <button class="remove-attachment" data-tippy-placement="top" title="Remove"></button>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="clearfix"></div>
                                <form enctype="multipart/form-data" method="post">
                                    <div class="uploadButton margin-top-0">
                                        <input type="file" accept="image/*, application/pdf" id="upload" class="uploadButton-input"  onchange="uploadOnSelect( '@((int)FileType.freelancer_document)', 'upload', '@_Record["uuid"]');" multiple/>
                                        <label class="uploadButton-button ripple-effect" for="upload">Upload Files</label>
                                        <span class="uploadButton-file-name">Maximum file size: 10 MB</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="submit-field">
                                <h5>Tagline</h5>
                                <input type="text" class="with-border" value="@_Record["tag_line"]"  id="tag_line" name="tag_line">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="submit-field">
                                <h5>Nationality</h5>
                                <select class="selectpicker with-border" data-size="7" title="Nationality" data-live-search="true">
                                    @Html.Raw(Common.getJobCategoryOptions())
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="submit-field">
                                <h5>Introduce Yourself</h5>
                                <textarea cols="30" rows="5" class="with-border" id="bio" name="bio">@_Record["bio"]</textarea>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <div id="test1" class="dashboard-box">
        <div class="headline">
            <h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
        </div>
        <div class="content with-padding">
            <div class="row">
                <div class="col-xl-4">
                    <div class="submit-field">
                        <h5>Current Password</h5>
                        <input type="password"  id="current_password" name="current_password" value="" class="with-border">
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="submit-field">
                        <h5>New Password</h5>
                        <input type="password"  id="new_password" name="new_password"  value="" class="with-border">
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="submit-field">
                        <h5>Repeat New Password</h5>
                        <input type="password"  id="confirm_password" name="confirm_password" value="" class="with-border">
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="checkbox">
                        <input type="checkbox" id="two_step" @((int)_Record["2_step_verification"] == (int)YesNo.yes ? "checked" : "")>
                        <label for="two_step"><span class="checkbox-icon"></span> Enable Two-Step Verification via Email</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-12">
    <a href="#" onclick="handleRequest( '@((int)RequestType.freelancer_edit)', '@("/freelancer/update/")')" class="button ripple-effect big margin-top-30">Save Changes</a>
</div>
<script>$(function () {
        $("#min_hourly_rate").on("change", function () {
            console.log("Hello");
            // $("#biddingVal").text(ThousandSeparator(parseInt(slideEvt.value)));
            $("#biddingVal").text(parseInt($('.bidding-slider').val()));
        });
    });
    $(function () {
        updateMenuItemAsActive('menu_profile_edit');
    })</script>